button img {
  height: 250px;
  width: 250px;
  margin-top: 5px;
  opacity: 1%;
}

/* button {
  height: 250px;
  width: 250px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white; 
} */

button {
  border: none;
  outline: none;
}

button:hover {
  transition: 7s;
  color: #ffd700;
  box-shadow: 5px 10px 15px #ffd700;
}

button img:hover {
  transition: 5s;
  opacity: 90%;
}

/* button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
} */
